.pirubbeditor {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.pirubbeditor__input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  field-sizing: content;
  min-height: 10lh;
  border: solid 1px #000;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.pirubbeditor__preview {
  display: none;
  padding: 0.5rem;
  min-height: 5lh;
  border: 1px solid #ddd;
  border: solid 1px #000;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.pirubbeditor__toolbar {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // gap: 0.1rem;
  background: transparent;
  padding: 0.5rem;
  border: solid 1px #000;
  border-radius: 0.5rem 0.5rem 0 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;

  button {
    padding: 0.5rem;
    background: transparent;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent solid 1px;
    border-radius: 0.3rem;
    box-sizing: border-box;
    transition: all 0.3s;

    width: auto;
    flex-shrink: 0;
    flex-grow: 0;

    &:hover {
      color: #000;
      border: #000 solid 1px;
      cursor: pointer;
    }

    &:disabled {
      color: #ececec;
      pointer-events: none;

      svg {
        * {
          fill: #ececec;
        }
      }
    }

    i {
      // display: block;
      box-sizing: border-box;
      // font-size: 0.8rem;
    }

    svg {
      width: 20px;
      height: 20px;
      // display: block;
      margin: auto 0;
    }
  }
}

[data-bs-theme="dark"] {
  .pirubbeditor__input,
  .pirubbeditor__preview,
  .pirubbeditor__toolbar {
    border-color: #fff;
  }

  .pirubbeditor__toolbar {
    button {
      color: #fff;

      &:hover {
        color: #fff;
        border: #fff solid 1px;
        cursor: pointer;
      }

      &:disabled {
        color: #444444;
        pointer-events: none;

        svg {
          * {
            fill: #444444;
          }
        }
      }
    }
  }
}

// Espoiler
.spoiler-toggle {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  display: block;
  width: 100%;
  text-align: center;
}

.spoiler-content {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  margin-top: 5px;
  border-radius: 3px;
  display: none;
}

[data-bs-theme="dark"] {
  .spoiler-toggle {
    background-color: transparent;
    border: 1px solid #ccc;
  }

  .spoiler-content {
    border: 1px solid #ccc;
    background-color: transparent;
  }
}
